<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/share/head ::headerFragment">
    <meta charset="UTF-8" />
    <title th:text="${title}"></title>
</head>
<body>
<!--navigation bar-->
    <div class="container">
        <!--include navBar from resource fragment/share/nav-bar-->
        <nav th:include="fragment/share/navbar :: navBarFramgent"></nav>
        <!--body-->
        <div class="col s12">
            <div><h5 class="center-align">Student information Detial</h5></div>
            <div class="col s6">
                <label  class="">Gender </label> <p th:text="${student.studentName}"></p>
            </div>
            <div class="col s6">
                <label  class="">Birth Date </label> <p th:text="${student.studentGender}"></p>
            </div>
            <div class="col s6">
                <label  class="">Birth Please </label> <p th:text="${student.studentDob}"></p>
            </div>
            <div class="col s6">
                <label  class="">Birth Please </label> <p th:text="${student.studentPob}"></p>
            </div>
        </div>
        <!--include footer from resource fragment/share/footer-->
        <footer class="page-footer" th:include="fragment/share/footer :: footerFragment"></footer>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
</body>
</html>